<launch>
    <node pkg="air_video_receiver" type="imu_node" name="imu_node" output="screen"/>

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen">
        <param name="use_mag" value="false"/>
        <param name="publish_tf" value="true"/>  
        <param name="world_frame" value="enu"/>
        <param name="fixed_frame" value="odom"/>
        <remap from="/imu/data_raw" to="/drone/imu"/>
        <remap from="/imu/data" to="/drone/imu/data"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find air_video_receiver)/rviz/imu.rviz" />
</launch>